html {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}

body {
  background-color: #222222;
  color: #fff;
  font-family: Montserrat;
  text-align: center;
}

h1, h2, h3, h4 {
  color: #ff6600;
  font-weight: 900;
  margin-left: 5%;
}

h1 {
  font-size: 4em;
}
h2{
  font-size: 3em;
}
h3{
  font-size: 2.5em;
}

p {
  color: #fff;
  font-family: Raleway;
  font-size: 1.5rem;
}

hr {
  color: #ff6600;
}
/* Scroll bar */

.progress-bar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}
.progress {
  height: 5px;
  width: 100%;
}
#bar {
  background-color: #ff6600;
  border-radius: 2.5px;
  height: 5px;
  width: 0%;
}

/* Parallax */

.parallax {
  background-image: url("/CSS/images/sean.jpeg");
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Flex */

.container {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.item{
  flex-basis: auto;
  padding: 2em;
  width: 40%;
}

/* skills flex */

.column{
width: 50%;
flex-basis: auto;
}

.item-skill {
  flex-basis: auto;
  width: 25%;
}


@media all and (max-width: 800px) {
  .item {
    width: 100%;
  }
  }

/* NAV */

.nav-item {
  background-color: #ff6600;
}

.nav-item:hover {
  color: #fff;
}

#mySidenav a {
  position: fixed;
  left: -7.5em;
  transition: 0.3s;
  padding: .5em;
  width: 8em;
  text-decoration: none;
  font-size: 1.5em;
  color: #222222;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  background-color: #fff;
  color: #ff6600;
  left: 0;
}

#headerNav {
  top: 40%;
}

#aboutNav {
  top: 45%;
}

#skillsNav {
  top: 50%;
}

#projectsNav {
  top: 55%;
}

#ctaNav {
  top: 60%;
}

/* HEADER */
#typeWrite {
  color: #ff6600;
}

#header{
height: 75%;
}

.hero{
  height: 100%;
  width: max-content;
}

.header-text {
  padding: 50% 15%;
  text-align: left;
}

/* ABOUT */
.about-img {
  height: 25em;
  width: 25em;
  border-radius: 10%;
}

.social-link {
  color: #ff6600;
  margin: 20px;
}

.social-link:hover {
  color: #fff;
}

/* SKILLS */

.container-skills {
  background-color: #444444;
  color: #fff;
  border-radius: .35em;
  width: 100%;
}

.skills {
  border-radius: .35em;
  color: #fff;
  text-align: right;
  padding: .75em 0em .75em .75em;
 
}

.html {
  width: 90%;
  background-color: #F16529;
}

.css {
  width: 80%;
  background-color: #2196F3;
}

.js {
  width: 85%;
  background-color: #f44336;
}

.node {
  width: 80%;
  background-color: #68A063;
}

.sql {
  width: 55%;
  background-color: #FFA500;
}

.nosql {
  width: 70%;
  background-color: #4DB33D;
}

.security {
  width: 75%;
  background-color: #4C4CFF;
}


.skills {
  color: #ff6600;
}

/* PROJECTS */
.projectsImg {
  border: solid;
  border-radius: 10px;
  border-color: #ff6600;
  margin: 2%;
}

/* CTA */
.ctaText {
  text-align: justify;
}

.cta-btn {
  color: #222222;
  background-color: #FF6600;
  border-color: #FF6600;
}

.cta-btn:hover {
  color: #222222;
  background-color: #fff;
  border-color: #FFf;
}

/* FOOTER */
footer {
  margin-top: 4%;
}

.footer {
  color: #444444;
  font-size: 1rem !important;
}
