html {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}

body {
  background-color: #222222;
  color: #fff;
  text-align: center;
  margin: 6%;
}

h1, h2, h3, h4 {
  color: #ff6600;
  font-family: Montserrat;
  font-weight: 900 !important;
}

p {
  color: #fff;
  font-family: Raleway;
  font-size: 1.5rem;
}

hr {
  background-color: #ff6600;
}

.margin {
  margin-top: 10%;
}

/* NAV */
.nav-item {
  color: #ff6600;
  font-family: Montserrat;
}

.nav-item:hover {
  color: #fff;
}

#mySidenav a {
  position: fixed;
  left: -100px;
  transition: 0.3s;
  padding: 15px;
  width: 120px;
  text-decoration: none;
  font-size: 20px;
  color: #222222;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover, :active {
  left: 0;
}

#headerNav {
  top: 15%;
  background-color: #ff6600;
}

#aboutNav {
  top: 30%;
  background-color: #ff6600;
}

#skillsNav {
  top: 45%;
  background-color: #ff6600;
}

#projectsNav {
  top: 60%;
  background-color: #ff6600;
}

#ctaNav {
  top: 75%;
  background-color: #ff6600;
}

/* HEADER */
#typeWrite {
  color: #ff6600;
}

.headerText {
  height: 100%;
  width: 100%;
  margin-left: 8%;
  margin-top: 20%;
  margin-right: 2%;
  margin-bottom: 15%;
  font-weight: 900 !important;
  text-align: justify;
}

/* ABOUT */
.about-img {
  height: 300px;
  width: 300px;
  border-radius: 90%;
  margin-top: 20px;
}

/* SKILLS */
.container-skills {
  width: 100%;
  background-color: #444444;
  color: #fff;
}

.skills {
  color: #fff;
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.html {
  width: 90%;
  background-color: #F16529;
}

.css {
  width: 80%;
  background-color: #2196F3;
}

.js {
  width: 70%;
  background-color: #f44336;
}

.boot {
  width: 85%;
  background-color: #7A43B6;
}

.node {
  width: 80%;
  background-color: #68A063;
}

.sql {
  width: 55%;
  background-color: #FFA500;
}

.nosql {
  width: 70%;
  background-color: #4DB33D;
}

.security {
  width: 75%;
  background-color: #4C4CFF;
}

.social-link {
  color: #ff6600;
  margin: 20px;
}

.social-link:hover {
  color: #fff;
}

.skills {
  color: #ff6600;
}

/* PROJECTS */
.projectsImg {
  border: solid;
  border-radius: 10px;
  border-color: #ff6600;
  margin: 2%;
}

/* CTA */
.ctaText {
  text-align: justify;
}

.cta-btn {
  color: #222222;
  background-color: #FF6600;
  border-color: #FF6600;
}

.cta-btn:hover {
  color: #222222;
  background-color: #fff;
  border-color: #FFf;
}

/* FOOTER */
footer {
  margin-top: 4%;
}

.footer {
  color: #444444;
  font-size: 1rem !important;
}
